<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>nra</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
<servlet>
<servlet-name>uloginservlet</servlet-name>
<servlet-class>uloginservlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>uloginservlet</servlet-name>
<url-pattern>/uloginservlet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>passeservlet</servlet-name>
<servlet-class>passeservlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>passeservlet</servlet-name>
<url-pattern>/passeservlet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>mobeservlet</servlet-name>
<servlet-class>mobeservlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>mobeservlet</servlet-name>
<url-pattern>/mobeservlet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>unservlet</servlet-name>
<servlet-class>unservlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>unservlet</servlet-name>
<url-pattern>/unservlet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>anservlet</servlet-name>
<servlet-class>anservlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>anservlet</servlet-name>
<url-pattern>/anservlet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>dnservlet</servlet-name>
<servlet-class>dnservlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>dnservlet</servlet-name>
<url-pattern>/dnservlet</url-pattern>
</servlet-mapping>
</web-app>